

/* 
 * basic styling for TextInput
 */
.basic-text-input-component input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* 
 * adds a border around any components that add `classNames: ['add-border']` to their `meta`
 */
.embeddable-component, :host(.add-border) {
	box-shadow: 0px 1px 4px rgba(28,28,33,0.2);
	border-radius: 16px;
	padding: 20px !important;
}